language: php
php:
  - 5.6
  - 5.5
  - 5.4
  - 5.3

before_script:
  - composer update --no-interaction
  
script:
  - mkdir -p build/logs
  - php ./vendor/bin/phpunit -c ./tests/phpunit.xml --coverage-clover build/logs/clover.xml tests
  
after_script:
  - php ./vendor/bin/coveralls -v
