<?xml version="1.0"?>
  <phpunit     colors="true"
    bootstrap="../vendor/autoload.php"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="true"
  >

  <testsuites>
        <testsuite name="Tests">
            <directory suffix="Test.php">./</directory>
        </testsuite>
    </testsuites>

  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">../src</directory>
    </whitelist>
  </filter>
</phpunit>
